<!DOCTYPE html>
<html lang="en">
<style>
    h2{text-align: center;}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
</head>
<body>
    <h2>Match your resume</h2>
    <form action="analyse" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Resume:</label><br>
        <input type="file" name="resume" id="resume"><br>
        </br></br>
        <label>Job Description</label><br>
        <input type="text" id="jd1" name="jd1"></br></br>
        <input type="text" id="jd2" name="jd2"></br></br>
        <input type="text" id="jd3" name="jd3"></br></br>
        <input type="text" id="jd4" name="jd4"></br></br>
        <input type="text" id="jd5" name="jd5"></br></br>
        <button type="submit"> Analyse </button>
    </form>
</body>
</html>